/* Breaking News Banner Styles */
@keyframes slide {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.breaking-news-slide {
  animation: slide 5s linear infinite;
}
